{include file="public/header"}
{include file="public/menu"}

            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="#">
                                <div class="card red summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-inbox fa-4x"></i>
                                        <div class="content">
                                            <div class="title">50</div>
                                            <div class="sub-title">代理总数</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="#">
                                <div class="card yellow summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-comments fa-4x"></i>
                                        <div class="content">
                                            <div class="title">23</div>
                                            <div class="sub-title">玩家总数</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="#">
                                <div class="card green summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-tags fa-4x"></i>
                                        <div class="content">
                                            <div class="title">280</div>
                                            <div class="sub-title">推广号总数</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="#">
                                <div class="card blue summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-share-alt fa-4x"></i>
                                        <div class="content">
                                            <div class="title">16</div>
                                            <div class="sub-title">在线总数</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 main-changfangxing-length">
                            <a href="#">
                                <div class="card red summary-inline">
                                    <div class="card-body card-body-color">
                                        <i class="icon fa fa-inbox fa-4x"></i>
                                        <div class="content">
                                            <p>今日游戏总赢钱</p>
                                            <div class="title">50</div>
                                            <div class="sub-title">代理总数</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 main-changfangxing-length">
                            <a href="#">
                                <div class="card red summary-inline">
                                    <div class="card-body card-body-color">
                                        <i class="icon fa fa-inbox fa-4x"></i>
                                        <div class="content">
                                            <p>今日游戏总赢钱</p>
                                            <div class="title">50</div>
                                            <div class="sub-title">代理总数</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 main-changfangxing-length">
                            <a href="#">
                                <div class="card red summary-inline">
                                    <div class="card-body card-body-color">
                                        <i class="icon fa fa-inbox fa-4x"></i>
                                        <div class="content">
                                            <p>今日游戏总赢钱</p>
                                            <div class="title">50</div>
                                            <div class="sub-title">代理总数</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 main-changfangxing-length">
                            <a href="#">
                                <div class="card red summary-inline">
                                    <div class="card-body card-body-color">
                                        <i class="icon fa fa-inbox fa-4x"></i>
                                        <div class="content">
                                            <p>今日游戏总赢钱</p>
                                            <div class="title">50</div>
                                            <div class="sub-title">代理总数</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">盈利曲线</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="sub-title">开始日期</div>
                                    <div>
                                        <input type="text" placeholder="开始日期" required="" name="start_time" class="form-control" id="countTimestart" onfocus="selecttime(1)" value="">
                                    </div>
                                    <div class="sub-title">结束日期</div>
                                    <div>
                                        <input type="text" placeholder="结束日期" required="" name="end_time" class="form-control" id="countTimestart" onfocus="selecttime(1)" value="">

                                    </div>
                                    <div class="sub-title"></div>
                                    <div>
                                        <button type="button" class="btn btn-info">生成曲线</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<style>
.main-changfangxing-length{
    width: 50%;
}
.card-body-color{background-color: #1b6d85;}
</style>
{include file="public/footer"}