
<!DOCTYPE html>
<html>

<!-- Head -->
<head>

    <title>登录表单</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->

    <!-- Style --> <link rel="stylesheet" href="__STATIC__/css/style_form.css" type="text/css" media="all">



</head>
<!-- //Head -->

<!-- Body -->
<body>

<h1>登录表单</h1>

<div class="container w3layouts agileits">

    <div class="login w3layouts agileits">
        <form action="{:url('Index/loginCheck')}" method="post">
            <input type="text" Name="Username" placeholder="用户名" required="">
            <input type="password" Name="Password" placeholder="密码" required="">

        <div class="send-button w3layouts agileits">
                <input type="submit" value="登录">
        </div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

</div>



</body>


</html>