{include file="public/header"}
{include file="public/menu"}
<div class="container-fluid">
    <div class="side-body padding-top">
        <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">Form Elements</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="sub-title">账号</div>
                                <div>
                                    <input type="text" class="form-control" placeholder="Text input">
                                </div>
                                <div class="sub-title">密码</div>
                                <div>
                                    <input type="text" class="form-control" placeholder="Text input">
                                </div>
                                <div class="sub-title">占陈比例</div>
                                <div>
                                    <input type="text" class="form-control" placeholder="Text input">
                                </div>
                                <div class="sub-title"></div>
                                <div>
                                    <button type="button" class="btn btn-info">信息按钮</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{include file="public/footer"}