{include file="public/header_only_css"}
<style>
    .table_anniu_dialog th{padding:10px;width: 50%; width: 250px;}
    th{ text-align: center;}
</style>

        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <div class="title">功能设定</div>
                </div>
            </div>
            <div class="card-body">
                <table class="table-bordered table_anniu_dialog">
                    <tr>
                        <th>是否开启申请送</th>
                        <th><input type="checkbox"></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th><button type="button" class="btn btn-info">确定</button></th>
                    </tr>
                </table>

            </div>
        </div>

{include file="public/footer_only_js"}