{include file="public/header_only_css"}
<style>
    .table_anniu_dialog th{padding:10px;width: 50%; width: 250px;}
    th{ text-align: center;}
</style>

        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <div class="title">人数统计</div>
                </div>
            </div>
            <div class="card-body">
                <table class="table-bordered table_anniu_dialog">
                    <tr>
                        <th>玩家总数</th>
                        <th><span class="label label-success radius">12</span></th>
                    </tr>
                    <tr>
                        <th>在线总数</th>
                        <th><span class="label label-success radius">12</span></th>
                    </tr>
                </table>

            </div>
        </div>

{include file="public/footer_only_js"}