{include file="public/header_only_css"}
<style>
    .table_anniu_dialog th{padding:10px;width: 100%; width: 500px;}
    th{ text-align: center;}
</style>

        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <div class="title">修改密码</div>
                </div>
            </div>
            <div class="card-body">
                <table class=" table_anniu_dialog">
                    <tr>
                        <th><input type="password" class="form-control"></th>
                    </tr>
                    <tr>
                        <th><button type="button" class="btn btn-info" style="margin-right: 10px;">确定</button><button type="button" class="btn btn-info">刷新</button></th>
                    </tr>
                </table>

            </div>
        </div>

{include file="public/footer_only_js"}