
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/select2.min.css">
    <!-- CSS App -->
    <!--{load href="__STATIC__/admin/hui/static/h-ui/css/H-ui.min.css" /}-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/hui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/hui/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/hui/lib/icheck/icheck.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/hui/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/hui/static/h-ui.admin/css/style.css" />



